/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bulma";

.notification:not(:last-child){
 margin-bottom: 0;
}

.profile_image {
 border-radius: 50%;
}

.main-image {
	height: 940px;
	background-image: url(meal.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.section1 {
    background-color:#ffffff;
}



.comment-delete {
  margin-left: auto;
}


.rooms{
  margin:0 auto;
  background-color:#BBBBBB;
  border: thick double #32a1ce;
  padding:1em 2em;
}


#chats{
  padding: 20px 10px;
  max-width: 450px;
  margin: 15px auto;
  text-align: center;
  font-size: 14px;
  background: #7da4cd;
}
.fukidasi {
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
}

.mycomment {
  margin: 10px 0;
}

.mycomment p {
  display: inline-block;
  position: relative;
  margin: 0 10px 0 0;
  padding: 8px;
  max-width: 250px;
  border-radius: 12px;
  background: #30e852;
  font-size: 15px;
}

.mycomment p:after {
  content: "";
  position: absolute;
  top: 3px;
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #30e852;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}